<p id="notice"><%= notice %></p>

<h1>Avents</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @avents.each do |avent| %>
      <tr>
        <td><%= link_to 'Show', avent %></td>
        <td><%= link_to 'Edit', edit_avent_path(avent) %></td>
        <td><%= link_to 'Destroy', avent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Avent', new_avent_path %>
