
<div class="container">
<div class="row justifiy-content-center">
<div class="col border-rounded">


<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  
  <div class="form-inputs">
  <p>Owner: <%= current_user.email %></p>
  <%#= f.input :user, input_html: {value: @event.user.email}, label: "Event owner" %>
  <%= f.simple_fields_for :itinary do |ff| %>
    <%= ff.input :date %>
    <%= ff.input :start %>
    <%= ff.input :end %>
  <% end %>
  </div>
  <h4>Invite / Manage buddies</h4>

  <div class="form-inputs">
    <%= f.input :participants, collection: @users, include_blank: false, input_html: {multiple: true} %>
  </div>
  
  <%= f.button :submit, class:"btn btn-primary", value:"Send invitations", style:"font-size: 24px" %>
  
<% end %>
</div></div></div>