<p id="notice"><%= notice %></p>

<h1>Upcoming events</h1>
<br>

<div class="container scrolling-y">
<table class="table table-striped">
  <thead >
    <tr>
      <th scope="col">Owner</th>
      <th scope="col">Date</th>
      <th scope="col">Start</th>
      <th scope="col">End</th>
      <th scope="col"> Kiters</th>
      <th colspan="1">Actions</th>
    </tr>
  </thead>
  <tbody class="content">
      <% @events.each do |event| %>
      <tr data-event-id=<%=event.id%>>
        <th scope="row"><%= event.user.email %></th>
        <td><%= event.itinary.date %></td>
        <td><%= event.itinary.start %></td>
        <td><%= event.itinary.end %></td>
        <td>
          <% if event.participants %>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal<%=event.id%>">
              Show kiters
            </button>
            <div class="modal fade" id="exampleModal<%=event.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel<%=event.id%>" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel<%=event.id%>">Event owner: <%=event.user.email%></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <% event.participants.each do |p| %>
                    <div class="row">
                    <p><%= p %></p>
                    </div>
                        
                        <% end %>  
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </td>
        <td>
          <%= link_to event, method: :delete, data: { confirm: 'Are you sure?' }, remote: true do %>
            <i class="fa fa-trash  mt-1" style="color:red" data-toggle="tooltip" data-placement="top" title="Delete"></i>
          <% end %>
        </td>
        <td>
        <%= link_to edit_event_path(event) do %>
          <i class="fa fa-bell  fa-1x"  style="color:blue" data-toggle="tooltip" data-placement="top" title="Edit"></i>
        <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>
</div>


<br>

<div class="container">
  <div class="row justify-content-center">
    <%= link_to 'Create new event', new_event_path, class:"btn btn-primary", style:"font-size: 30px; color:white" %>
      
  </div>
</div>

<div id="appt"></div>
<%#= javascript_pack_tag 'index' %>
